<html>
<head><title>MY Blog - Faizal</title></head>
<body>
	<h2>All Posts</h2>
	{% if posts %}
	<ul>
		{% for post in posts %}
		<li>
			<h1><a href="{% url blog.views.singlepost post.pk %}">{{ post.title }}</a></h1>
			<p>{{ post.body }}</p>
			<br />
			<span>{{ post.pub_date }} | </span>
			{% if post.comment_set.all %}
			<a href="{% url blog.views.singlepost post.pk %}"><span>{{ post.comment_set.all|length }} Comment{{ post.comment_set.all|length|pluralize }}</span></a>
			{% else %}
			<a href="{% url blog.views.singlepost post.pk %}"><span>0 Comment</span></a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>There are no Posts</p>
	{% endif %}
</body>
</html>